@import "tailwindcss";
@import "../styles/animations.css";
@import "../styles/pp_mori.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-accent: #34B1D8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "PP Mori", sans-serif;
}
